@page "/streams/{streamName}"
@page "/streams/"
@page "/"

@using Speedruns.Web.Streams.Retrievers
@inject StreamService StreamService
@inject IJSRuntime JsRuntime;

@if (_streams == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container">
        <div class="row">
            <div id="stream" class="embed-responsive embed-responsive-16by9"></div>
        </div>
    </div>

    <div class="row">
        @foreach (var stream in _streams)
        {
            <RadzenCard class="col-md-4">
                <div class="card-header">
                    @stream.Username
                </div>
                <div class="card-body">
                    <h5 class="card-title">@stream.Description</h5>
                    <p class="card-text">@stream.Game</p>
                    <a href="/streams/@stream.Username" class="btn btn-primary">Watch</a>
                </div>
            </RadzenCard>
        }
    </div>

}

@code {
    [Parameter]
    public string StreamName { get; set; }

    private List<Stream> _streams;

    protected override async Task OnInitializedAsync()
    {
        _streams = await StreamService.GetAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) 
            return;

        if (string.IsNullOrEmpty(StreamName))
        {
            await ShowRandomStream();
        }
        else
        {
            var streamToShow = _streams.FirstOrDefault(stream => stream.Username == StreamName);
            if(streamToShow == null)
                await ShowRandomStream();
            else
                await streamToShow.PresentStream(JsRuntime, "stream");
        }
    }

    private async Task ShowRandomStream()
    {
        var randomNumber = new Random()
            .Next(0, _streams.Count);
        await _streams[randomNumber].PresentStream(JsRuntime, "stream");
    }
}
