@inherits LayoutComponentBase

<NavMenu />
<div class="row">
    @* <div class="col s12 m4 l2"> *@
    @*     <SideBar/> *@
    @* </div> *@

    <div class="col s12 m12 l12">
        @Body
    </div>
</div>