<ul class="collection">
    <li class="collection-item">
        <NavLink href="" Match="NavLinkMatch.All">
            <span aria-hidden="true"></span> Home
        </NavLink>
    </li>

    <li class="collection-item">
        <NavLink href="counter">
            <span aria-hidden="true"></span> Counter
        </NavLink>
    </li>

    <li class="collection-item">
        <NavLink href="fetchdata">
            <span aria-hidden="true"></span> Fetch data
        </NavLink>
    </li>
</ul>